<section>
  <h3>メモ<%= @id %></h3>
  <p>メモ名： <%= @name %></p>
  <p>メモの内容： <%= @text %></p>
</section>

<div class="button wrapper">
  <button type="button" onclick="location.href='/memos/<%= @id %>/edit'" class="button">変更 </button>
  <form method="post" action="/memos/<%= @id %>">
    <input type="submit" value="削除" class="button">
    <input type="hidden" name="id" value="<%= @id %>">
    <input type="hidden" name="_method" value="delete">
  </form>
</div>
